@using Data
@using Microsoft.AspNetCore.SignalR.Client
@using System.Timers
@using System.Text.Json

<table style="width:100%">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var message in messages)
    {
      <tr>
        <td>@message.Timestamp</td>
        <td>@message.Message</td>
      </tr>
    }
  </tbody>
</table>

@code {
  [Parameter]
  public HubConnection HubConnection { get; set; }
  private List<LogMessage> messages = new List<LogMessage>();
  private const int MAX_NUMBER_OF_MESSAGES = 100;
  private Timer timer = new Timer();
  private const int REFRESH_INTERVAL_IN_SECONDS = 1;

  [Parameter]
  public string ServiceName { get; set; }

  protected override async Task OnInitializedAsync()
  {
    HubConnection.On<string>("ReceiveLogMessages", (message) =>
    {
      messages.AddRange(JsonSerializer.Deserialize<List<LogMessage>>(message));

      messages = messages.OrderByDescending(m => m.Timestamp).ToList();

      if (messages.Count > MAX_NUMBER_OF_MESSAGES)
      {
        messages.RemoveRange(MAX_NUMBER_OF_MESSAGES, messages.Count - MAX_NUMBER_OF_MESSAGES);
      }

      StateHasChanged();
    });

    timer.Interval = REFRESH_INTERVAL_IN_SECONDS * 1000;
    timer.Elapsed += ElapsedEventHandler;

    await HubConnection.StartAsync();
  }

  public void ToggleMonitoring()
  {
    if (!timer.Enabled)
    {
      timer.Start();
    }
    else
    {
      timer.Stop();
    }
  }

  private async void ElapsedEventHandler(Object taskCompletionSource, ElapsedEventArgs e)
  {
    await HubConnection.SendAsync("StartMonitoring", 1, ServiceName);
  }

  public void Dispose()
  {
    timer.Elapsed -= ElapsedEventHandler;
  }

  public string MonitoringButtonText
  {
    get
    {
      if (!timer.Enabled)
      {
        return "Start Monitoring";
      }
      else
      {
        return "Stop Monitoring";
      }
    }
  }
}